{% extends 'base.html' %}
{% load staticfiles %}
<!--FACE DETECTION///////////////////////////////////////////////-->
{% block stylesheet %}
<style>
  @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
  body {
    font-family: 'Lato';
    background-color: #f0f0f0;
    margin: 0px auto;
    max-width: 1150px;
  }
  #overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/

  }
  #videoel {
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/

  }
  #container {
    position : relative;
    width : 370px;
    /*margin : 0px auto;*/
  }
  #content {
    margin-top : 50px;
    margin-left : auto;
    margin-right : auto;
    max-width: 600px;
  }
  h2 {
    font-weight : 400;
  }
  .btn {
    font-family: 'Lato';
    font-size: 16px;
  }
  #controls {
    text-align : center;
  }
  #emotion_container {
    width: 600px;
  }
  #emotion_icons {
    height: 50px;
    padding-left: 40px;
  }
  .emotion_icon {
    width : 40px;
    height : 40px;
    margin-top: 5px;
    /*margin-left : 13px;*/
    margin-left : 35px;
  }
  #emotion_chart, #emotion_icons {
    margin: 0 auto;
    width : 400px;
  }
  #icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
    visibility : hidden;
  }
  /* d3 */
  .bar {
    fill : steelblue;
    fill-opacity : .9;
  }
</style>
<script>
  // getUserMedia only works over https in Chrome 47+, so we redirect to https. Also notify user if running from file.
  if (window.location.protocol == "file:") {
    alert("You seem to be running this example directly from a file. Note that these examples only work when served from a server or localhost due to canvas cross-domain restrictions.");
  } else if (window.location.hostname == "'localhost'" || window.location.protocol == "https:"){
    window.location.protocol = "http";
  }
</script>

{% endblock %}


{% block body %}
<script>
  var subtitle_promise;
  var GoogleAuth;
  var SCOPE = 'https://www.googleapis.com/auth/youtube.force-ssl';
  function handleClientLoad() {
    // Load the API's client and auth2 modules.
    // Call the initClient function after the modules load.
    gapi.load('client:auth2', initClient);
  }

  function initClient() {
    // Retrieve the discovery document for version 3 of Google Drive API.
    // In practice, your app can retrieve one or more discovery documents.
    var discoveryUrl = 'https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest';

    // Initialize the gapi.client object, which app uses to make API requests.
    // Get API key and client ID from API Console.
    // 'scope' field specifies space-delimited list of access scopes.
    gapi.client.init({
        'apiKey': 'AIzaSyDWy0MBxC-vHfoNJuVMJFjxcQiCxfVjMhY',
        'discoveryDocs': [discoveryUrl],
        'clientId': '226276933611-kinacjdcl4fqtrh93ccdmdiqb89ecfc6.apps.googleusercontent.com',
        'scope': SCOPE
    }).then(function () {
      GoogleAuth = gapi.auth2.getAuthInstance();
      // Listen for sign-in state changes.
      GoogleAuth.isSignedIn.listen(updateSigninStatus);

      // Handle initial sign-in state. (Determine if user is already signed in.)
      var user = GoogleAuth.currentUser.get();
      var a_t = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token;

      if(a_t){
        retrieve_token(a_t);
      }

      setSigninStatus();

      // Call handleAuthClick function when user clicks on
      //      "Sign In/Authorize" button.
      $('#sign-in-or-out-button').click(function() {
        handleAuthClick();
      });
      $('#revoke-access-button').click(function() {
        revokeAccess();
      });
    });
  }

  function handleAuthClick() {
    if (GoogleAuth.isSignedIn.get()) {
      // User is authorized and has clicked 'Sign out' button.
      GoogleAuth.signOut();
    } else {
      // User is not signed in. Start Google auth flow.
      GoogleAuth.signIn();
    }
  }

  function revokeAccess() {
    GoogleAuth.disconnect();
  }

  function setSigninStatus(isSignedIn) {
    var user = GoogleAuth.currentUser.get();
    var isAuthorized = user.hasGrantedScopes(SCOPE);
    if (isAuthorized) {
      $('#sign-in-or-out-button').html('Sign out');
      $('#revoke-access-button').css('display', 'inline-block');
      $('#auth-status').html('You are currently signed in and have granted ' +
          'access to this app.');
    } else {
      $('#sign-in-or-out-button').html('Sign In/Authorize');
      $('#revoke-access-button').css('display', 'none');
      $('#auth-status').html('You have not authorized this app or you are ' +
          'signed out.');
    }
  }

  function updateSigninStatus(isSignedIn) {
    setSigninStatus();
  }

  ///////////////////////////////////////////DJANGO EXTRACTION/////////////////////////////////////////

  function retrieve_token(token){
    var token_id = token;
    console.log(token_id); ///Goyal's extraction part
    $.ajax({
        type:'POST',
        url:'{% url "auth" %}',
        data: {
          'access_token':token_id
        },
        success: function(data){
          if(data['token']=='True'){
            // grab_url();
          }
        }
      });
  }
  // var video_id;
  // var video_id='IclfOKSLzDc';

  function grab_url(){
    url = $('#input_field').val();
    $.ajax({
      type:'POST',
      url:'{% url "indexer" %}',
      data:{
        'url':url
      },
      success: function(data){
        if(data['token']=='False'){
          console.log("fal");
          console.log(data["subtitle"]);
          video_id = data["video_id"];
          // $('#sign-in-or-out-button').trigger('click');
        }else{
          console.log("tru");
          console.log(data["subtitle"]);
          subtitle_promise = data["subtitle"];
          // video_id = data["video_id"];
          playV(data["video_id"]);
          console.log(data);
        }
      }
    });
  }

  function grab_keyword_timestamp(){
    url = $('#input_field').val();
    keywords = $('#keyword').val();
    $.ajax({
      type:'POST',
      url:'{% url "timestamp_return" %}',
      data:{
        'url':url,
        'keyword': keywords
      },
      success: function(data){
        console.log(data);
      }
    });
  }

  var translated_text;
  function translate_text(){
    to_lang = $('#to_lang').val();
    $.ajax({
      type:'POST',
      url:'{% url "translate" %}',
      data:{
        'to_lang': to_lang,
        'string': subtitle_promise
      },
      success: function(data){
        console.log(data);
        getToken();
        translated_text = data['translated'];
      }
    });
  }

  const MS_URL = "https://api.microsofttranslator.com/V2/Http.svc";
  const MS_KEY = "a7867a2553884464b0f657a74f8ef0cc";
  const MS_TOKEN_URL = "https://api.cognitive.microsoft.com/sts/v1.0/issueToken";
  let token = "";

  function getToken() {
        $.ajax({
            type: "POST",
            url: MS_TOKEN_URL,
            headers: {
                'Ocp-Apim-Subscription-Key':MS_KEY,
            },
            success: (result)=>{
                console.log("token success");
                token = result;
                console.log(token);
                voiceOver();
            }
        })
  }

  function voiceOver() {
        var voice = $('#voice')[0];
        translated_text = translated_text.slice(0, 500);
        console.log(translated_text);
        console.log(voice);
        voice.pause();
        $("#voice_source").attr("src", MS_URL + "/Speak?appid=Bearer "+ token + "&format=audio/mp3&options=male&language=" + 'en' + "&text=" + translated_text);
        voice.load();
        voice.play();
        // chrome.tabs.query({active: true, currentWindow: true}, function(tabs) {
        //     chrome.tabs.sendMessage(tabs[0].id, {greeting: voice.currentTime.toString()}, null);

        //   });
  }


</script>

<video autoplay name="voice" id="voice">
  <source id="voice_source" type="audio/mpeg" src=""/>
</video>

<button id="sign-in-or-out-button"
        style="margin-left: 25px">Sign In/Authorize</button>
<button id="revoke-access-button"
        style="display: none; margin-left: 25px">Revoke access</button>

<input type="text" name="url" id="input_field">
<button type="button" onclick="grab_url();" id="url_ext">URL</button>
<input type="text" name="keyword" id="keyword">
<button type="button" onclick="grab_keyword_timestamp();" id="keyword_test">Keywords</button>
<select id="to_lang">
  <option value="en">English</option>
  <option value="de">German</option>
  <option value="it">Italian</option>
  <option value="es">Spanish</option>
  <option value="fr">French</option>
</select>
<button type="button" onclick="translate_text();">Translate</button>

<div id="auth-status" style="display: inline; padding-left: 25px"></div><hr>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>

{% endblock %}

{% block player %}

<script src="{% static 'js/libs/utils.js' %}"></script>
<script src="{% static 'js/build/clmtrackr.js' %}"></script>
<script src="{% static 'js/models/model_pca_20_svm.js' %}"></script>
<script src="{% static 'js/libs/Stats.js' %}"></script>
<script src="{% static 'js/libs/d3.min.js' %}"></script>
<script src="{% static 'js/emotion_classifier.js' %}"></script>
<script src="{% static 'js/emotionmodel.js' %}"></script>
<div id="content">
  <!--//////////////////////////////Video Container//////////////////////////////-->
  <div id="container" style="display: none;">
    <video id="videoel" width="400" height="300" preload="auto" loop playsinline autoplay>
    </video>
    <canvas id="overlay" width="400" height="300"></canvas>
  </div>
  <div id="emotion_container" style="display: none;">
    <!-- <div id="emotion_icons">
      <img class="emotion_icon" id="icon1" src="./media/icon_angry.png">
      <img class="emotion_icon" id="icon2" src="./media/icon_sad.png">
      <img class="emotion_icon" id="icon3" src="./media/icon_surprised.png">
      <img class="emotion_icon" id="icon4" src="./media/icon_happy.png">
    </div> -->
    <div id='emotion_chart'></div>
  </div>
  <div id="controls" style="display: none">
    <input class="btn" type="button" value="wait, loading video" disabled="disabled" onclick="startVideo()" id="startbutton"></input>
  </div>
  <!--
  <a href="https://github.com/auduno/clmtrackr"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>-->
  <p id="positions"></p>
  <div id="player"></div>
  <script async defer>
    var vid = document.getElementById('videoel');
    var vid_width = vid.width;
    var vid_height = vid.height;
    var overlay = document.getElementById('overlay');
    var overlayCC = overlay.getContext('2d');
    /********** check and set up video/webcam **********/
    var tag = document.createElement('script');
    tag.src = "http://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;

    function playV(video_id) {

      /////////////////////////
      window.onYouTubePlayerAPIReady = function() {
          player = new YT.Player('player', {
              height: '315',
              width: '560',
              videoId: video_id,
              events: {
                'onReady': onPlayerReady,
                //'onStateChange': onPlayerStateChange
                }
          });

          //document.getElementById('pause').onclick = function() {
          //player.pauseVideo();
          //};
      }

    }


    $('#player').on('click', '.html5-video-player', function(){
              console.log('here!');
              ctrack.stop();
    });

    function onPlayerReady(event) {
          event.target.playVideo();

            $('#player').on('click', function(){
              console.log('here!');
              ctrack.stop();
            });
        }
        var done = false;
        // function onPlayerStateChange(event) {
      //    if (event.data == YT.PlayerState.PLAYING && !done) {
      //    setTimeout(stopVideo, 6000);
     //       done = true;
      //    }
        // }
        function stopVideo() {
          player.stopVideo();
        }
        function pauseVideo() {
          player.pauseVideo();
        }
    function positionLoop() {
      requestAnimFrame(positionLoop);
      var positions = ctrack.getCurrentPosition();
      if(positions){
        console.log("Mai Hu!");
        player.playVideo();
        vid.play();
      }else{
        console.log("Nahi hu!");
        player.pauseVideo();
        // vid.pause();
      }
      // do something with the positions ...
      // print the positions
      var positionString = "";
      // if (positions) {
      //  for (var p = 0;p < 10;p++) {
      //    positionString += "featurepoint "+p+" : ["+positions[p][0].toFixed(2)+","+positions[p][1].toFixed(2)+"]<br/>";
      //  }
      //  document.getElementById('positions').innerHTML = positionString;
      // }
    }
    function enablestart() {
      var startbutton = document.getElementById('startbutton');
      startbutton.value = "start";
      startbutton.disabled = null;
    }
    function adjustVideoProportions() {
      // resize overlay and video if proportions are different
      // keep same height, just change width
      var proportion = vid.videoWidth/vid.videoHeight;
      vid_width = Math.round(vid_height * proportion);
      vid.width = vid_width;
      overlay.width = vid_width;
    }
    function gumSuccess( stream ) {
      // add camera stream if getUserMedia succeeded
      if ("srcObject" in vid) {
        vid.srcObject = stream;
      } else {
        vid.src = (window.URL && window.URL.createObjectURL(stream));
      }
      vid.onloadedmetadata = function() {
        adjustVideoProportions();
        vid.play();
      }
      vid.onresize = function() {
        adjustVideoProportions();
        if (trackingStarted) {
          ctrack.stop();
          ctrack.reset();
          ctrack.start(vid);
        }
      }
    }
    function gumFail() {
      alert("There was some problem trying to fetch video from your webcam. If you have a webcam, please make sure to accept when the browser asks for access to your webcam.");
    }
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
    window.URL = window.URL || window.webkitURL || window.msURL || window.mozURL;
    // check for camerasupport
    if (navigator.mediaDevices) {
      navigator.mediaDevices.getUserMedia({video : true}).then(gumSuccess).catch(gumFail);
    } else if (navigator.getUserMedia) {
      navigator.getUserMedia({video : true}, gumSuccess, gumFail);
    } else {
      alert("This demo depends on getUserMedia, which your browser does not seem to support. :(");
    }
    vid.addEventListener('canplay', enablestart, false);
    /*********** setup of emotion detection *************/
    // set eigenvector 9 and 11 to not be regularized. This is to better detect motion of the eyebrows
    pModel.shapeModel.nonRegularizedVectors.push(9);
    pModel.shapeModel.nonRegularizedVectors.push(11);
    var ctrack = new clm.tracker({useWebGL : true});
    ctrack.init(pModel);
    var trackingStarted = false;
    function startVideo() {
      // start video
      vid.play();
      // start tracking
      ctrack.start(vid);
      trackingStarted = true;
      positionLoop();
      // start loop to draw face
      drawLoop();
    }
    function drawLoop() {
      requestAnimFrame(drawLoop);
      overlayCC.clearRect(0, 0, vid_width, vid_height);
      //psrElement.innerHTML = "score :" + ctrack.getScore().toFixed(4);
      if (ctrack.getCurrentPosition()) {
        ctrack.draw(overlay);
      }
      var cp = ctrack.getCurrentParameters();
      var er = ec.meanPredict(cp);
      if (er) {
        updateData(er);
        for (var i = 0;i < er.length;i++) {
          if (er[i].value > 0.4) {
            document.getElementById('icon'+(i+1)).style.visibility = 'visible';
          } else {
            document.getElementById('icon'+(i+1)).style.visibility = 'hidden';
          }
        }
      }
    }
    delete emotionModel['disgusted'];
    delete emotionModel['fear'];
    var ec = new emotionClassifier();
    ec.init(emotionModel);
    var emotionData = ec.getBlank();
    /************ d3 code for barchart *****************/
    var margin = {top : 20, right : 20, bottom : 10, left : 40},
      width = 400 - margin.left - margin.right,
      height = 100 - margin.top - margin.bottom;
    var barWidth = 30;
    var formatPercent = d3.format(".0%");
    var x = d3.scale.linear()
      .domain([0, ec.getEmotions().length]).range([margin.left, width+margin.left]);
    var y = d3.scale.linear()
      .domain([0,1]).range([0, height]);
    var svg = d3.select("#emotion_chart").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    svg.selectAll("rect").
      data(emotionData).
      enter().
      append("svg:rect").
      attr("x", function(datum, index) { return x(index); }).
      attr("y", function(datum) { return height - y(datum.value); }).
      attr("height", function(datum) { return y(datum.value); }).
      attr("width", barWidth).
      attr("fill", "#2d578b");
    svg.selectAll("text.labels").
      data(emotionData).
      enter().
      append("svg:text").
      attr("x", function(datum, index) { return x(index) + barWidth; }).
      attr("y", function(datum) { return height - y(datum.value); }).
      attr("dx", -barWidth/2).
      attr("dy", "1.2em").
      attr("text-anchor", "middle").
      text(function(datum) { return datum.value;}).
      attr("fill", "white").
      attr("class", "labels");
    svg.selectAll("text.yAxis").
      data(emotionData).
      enter().append("svg:text").
      attr("x", function(datum, index) { return x(index) + barWidth; }).
      attr("y", height).
      attr("dx", -barWidth/2).
      attr("text-anchor", "middle").
      attr("style", "font-size: 12").
      text(function(datum) { return datum.emotion;}).
      attr("transform", "translate(0, 18)").
      attr("class", "yAxis");
    function updateData(data) {
      // update
      var rects = svg.selectAll("rect")
        .data(data)
        .attr("y", function(datum) { return height - y(datum.value); })
        .attr("height", function(datum) { return y(datum.value); });
      var texts = svg.selectAll("text.labels")
        .data(data)
        .attr("y", function(datum) { return height - y(datum.value); })
        .text(function(datum) { return datum.value.toFixed(1);});
      // enter
      rects.enter().append("svg:rect");
      texts.enter().append("svg:text");
      // exit
      rects.exit().remove();
      texts.exit().remove();
    }
    /******** stats ********/
    stats = new Stats();
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.top = '0px';
    document.getElementById('container').appendChild( stats.domElement );
    // update stats on every iteration
    document.addEventListener('clmtrackrIteration', function(event) {
      stats.update();
    }, false);


  </script>
</div>

{% endblock %}
